@import url(https://fonts.googleapis.com/css?family=Inter:italic,regular,500,500italic,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  font-display: swap;
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("../fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Leifa;
  font-display: swap;
  src: url("../fonts/Leifa-ExtraBold.woff2") format("woff2"), url("../fonts/Leifa-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  background: #2E4FD7;
  border-radius: 1px;
  padding: 0.9375rem 1.5625rem;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0.875rem;
}

.button:hover {
  background: #093aff;
  -webkit-box-shadow: 0 0 5px #093aff;
          box-shadow: 0 0 5px #093aff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75rem;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 2;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0.3125rem 1.25rem;
  z-index: 2;
}

.menu__item {
  text-align: center;
}

.menu__link {
  color: #1E1E1E;
  position: relative;
  padding-bottom: 0.3125rem;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.09375rem;
  background-color: #1E1E1E;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover::after {
  content: "";
  opacity: 1;
}

.icon-menu {
  display: none;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 56.25em) {
  .menu__list {
    -webkit-column-gap: 1.9375rem;
       -moz-column-gap: 1.9375rem;
            column-gap: 1.9375rem;
  }
}

@media (min-width: 56.25em) {
  .header__navigation {
    gap: 3.3125rem;
  }
}

@media (max-width: 48.75em) {
  .header__navigation {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__button {
    display: block;
    font-size: 2rem;
    text-align: center;
  }

  .header__button img {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #052825;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.125rem;
    background-color: #052825;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    color: #fff;
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(0, 0, 0);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 48.75em) and (max-width: 56.25em) {
@supports (gap: clamp( 1.25rem , -12.15625rem  +  27.5vw , 3.3125rem )) {
    .header__navigation {
      gap: clamp( 1.25rem , -12.15625rem  +  27.5vw , 3.3125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -12.15625rem  +  27.5vw , 3.3125rem )) {
    .header__navigation {
      gap: calc(1.25rem + 2.0625 * (100vw - 48.75rem) / 7.5);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 50em) and (max-width: 56.25em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem )) or (column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem );
         -moz-column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem );
              column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem )) or (column-gap: clamp( 1.25rem , -4.25rem  +  11vw , 1.9375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 0.6875 * (100vw - 50rem) / 6.25);
         -moz-column-gap: calc(1.25rem + 0.6875 * (100vw - 50rem) / 6.25);
              column-gap: calc(1.25rem + 0.6875 * (100vw - 50rem) / 6.25);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 50em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}