/*NULL*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Setting*/
/*All*/
.page {
  padding: 230px 0px 0px 0px;
  font-family: sans-serif;
}

.page__section {
  width: 100%;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

/*Header*/
body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(79, 79, 79, 0.684);
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  background-color: #fff;
  border-radius: 50%;
  z-index: 50;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.header__logo:hover {
  background-color: rgb(172, 172, 172);
  border-radius: 0%;
  transform: rotate(180deg);
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #fff;
  font-size: 17px;
  opacity: 0.7;
  transition: all 0.2s linear;
}

.menu__link:hover {
  opacity: 1;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__arrow {
  display: none;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 17px 0;
  }
}
@media (max-width: 769px) {
  .menu__link {
    font-size: 17px;
  }
}
@media (max-width: 1025px) {
  .menu__link {
    font-size: 21px;
  }
}
@media (max-width: 821px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 769px) {
  .menu__link {
    font-size: 16px;
  }
}
@media (max-width: 913px) {
  .menu__link {
    padding: 1px;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
.menu__icon:before,
.menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #fff;
  }
  .menu__icon:before,
.menu__icon:after {
    content: "";
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1), translate(0px, -50%);
  }
  .menu__icon._active span {
    opacity: 0;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: scale(1), translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: scale(1), translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgb(79, 79, 79);
    z-index: 2;
  }
  .menu__list > li {
    margin: 0px 0px 50px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 28px;
  }
}
/*Main*/
.page__intro {
  display: flex;
  border-bottom: 2px solid rgb(128, 128, 128);
  width: 100%;
}

.intro__title {
  color: rgb(206, 82, 4);
  font-size: 72px;
  font-weight: 700;
}

.intro__subtitle {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
}

.intro__label {
  align-self: center;
}

.intro__verstka {
  margin-right: 10px;
  position: relative;
}

.intro__button {
  display: inline-block;
  background-color: rgb(117, 182, 61);
  transition: all 0.3s ease;
  padding: 16px 28px;
  color: #fff;
  border-radius: 29px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 10px;
}

.intro__button:hover {
  background-color: rgb(124, 213, 46);
}

.content__circle {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: white-cirle;
          animation-name: white-cirle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.content__circle:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes white-cirle {
  0% {
    top: 0;
    left: 0;
    left: -300px;
  }
  50% {
    border-radius: 0;
  }
  100% {
    left: 500px;
    left: 700px;
  }
}

@keyframes white-cirle {
  0% {
    top: 0;
    left: 0;
    left: -300px;
  }
  50% {
    border-radius: 0;
  }
  100% {
    left: 500px;
    left: 700px;
  }
}
@media (max-width: 1025px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 500px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 500px;
    }
  }
}
@media (max-width: 913px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 380px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 380px;
    }
  }
}
@media (max-width: 820px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 300px;
    }
  }
}
@media (max-width: 769px) {
  .intro__title {
    font-size: 32px;
  }
  .intro__subtitle {
    font-size: 19px;
  }
  @-webkit-keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 260px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: -300px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 260px;
    }
  }
}
@media (max-width: 767px) {
  .page__intro {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro__subtitle {
    font-size: 24px;
  }
  @-webkit-keyframes white-cirle {
    0% {
      top: 0;
      left: 0;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 200px;
    }
  }
  @keyframes white-cirle {
    0% {
      top: 0;
      left: 0;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 200px;
    }
  }
}
@media (max-width: 541px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 315px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 315px;
    }
  }
}
@media (max-width: 415px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 255px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 255px;
    }
  }
}
@media (max-width: 394px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 235px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 235px;
    }
  }
}
@media (max-width: 376px) {
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 210px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 210px;
    }
  }
}
@media (max-width: 361px) {
  .intro__img {
    margin-left: -10px;
  }
}
@media (max-width: 321px) {
  .intro__img {
    margin-left: -20px;
  }
  .intro__title {
    margin-left: 20px;
  }
  .intro__subtitle {
    font-size: 19px;
    margin-left: 20px;
  }
  .intro__button {
    margin-left: 20px;
  }
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 200px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 200px;
    }
  }
}
@media (max-width: 281px) {
  .page__intro {
    border: none;
  }
  .intro__img {
    width: 250px;
    height: 150px;
    margin-left: 5px;
  }
  .intro__button {
    margin-left: 50px;
    padding: 12px 10px;
  }
  .intro__title {
    margin-left: 50px;
  }
  .intro__subtitle {
    margin-left: 50px;
    font-size: 13px;
  }
  @-webkit-keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 185px;
    }
  }
  @keyframes white-cirle {
    0% {
      left: 0px;
    }
    50% {
      border-radius: 0;
    }
    100% {
      left: 185px;
    }
  }
}
/*About works*/
.aboutworks__title {
  font-size: 62px;
  text-align: center;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.step-1 {
  margin-top: 5px;
  background-color: rgb(129, 97, 97);
  padding: 15px;
}

.step-2 {
  background-color: rgb(96, 124, 81);
  padding: 15px;
}

.step-3 {
  background-color: rgb(122, 130, 63);
  padding: 15px;
}

.step-4 {
  background-color: rgb(87, 70, 135);
  padding: 15px;
}

.step-5 {
  background-color: rgb(129, 67, 105);
  padding: 15px;
}

span {
  font-size: 48px;
  font-family: serif;
  margin-right: 10px;
}

@media (max-width: 1281px) {
  .page__aboutworks {
    margin-left: 40px;
  }
}
@media (max-width: 1025px) {
  .page__aboutworks {
    margin-left: 0;
  }
  .step-1 {
    font-size: 20px;
  }
  .step-2 {
    font-size: 20px;
  }
  .step-3 {
    font-size: 20px;
  }
  .step-4 {
    font-size: 20px;
  }
  .step-5 {
    font-size: 20px;
  }
}
@media (max-width: 541px) {
  .page__aboutworks {
    padding-left: 90px;
  }
}
@media (max-width: 913px) {
  .page__aboutworks {
    margin-left: 0px;
  }
}
@media (max-width: 821px) {
  .page__aboutworks {
    margin-left: 0px;
  }
}
@media (max-width: 769px) {
  .page__aboutworks {
    margin-left: 0px;
  }
  span {
    font-size: 40px;
  }
  .step-1 {
    background-color: rgb(129, 97, 97);
    padding: 10px;
    font-size: 16px;
  }
  .step-2 {
    background-color: rgb(96, 124, 81);
    padding: 10px;
    font-size: 16px;
  }
  .step-3 {
    background-color: rgb(122, 130, 63);
    padding: 10px;
    font-size: 16px;
  }
  .step-4 {
    background-color: rgb(87, 70, 135);
    padding: 10px;
    font-size: 16px;
  }
  .step-5 {
    background-color: rgb(129, 67, 105);
    padding: 10px;
    font-size: 16px;
  }
}
@media (max-width: 541px) {
  .page__aboutworks {
    margin-left: -29px;
  }
  .aboutworks__title {
    font-size: 32px;
  }
}
@media (max-width: 415px) {
  .page__aboutworks {
    margin-left: -30px;
  }
  .aboutworks__title {
    font-size: 42px;
  }
}
@media (max-width: 376px) {
  .page__aboutworks {
    margin-left: -30px;
  }
  .aboutworks__title {
    font-size: 32px;
  }
}
@media (max-width: 361px) {
  .page__aboutworks {
    margin-left: -30px;
  }
}
@media (max-width: 321px) {
  .page__aboutworks {
    margin-left: -13px;
  }
}
@media (max-width: 281px) {
  .aboutworks__title {
    font-size: 32px;
  }
  .page__aboutworks {
    margin-left: 0px;
  }
}
/*Services*/
.blocks {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  padding: 90px;
}

.blocks__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
  font-size: 72px;
  font-weight: 700;
}

.blocks__body {
  max-width: 990px;
  margin: 0 auto;
}

.blocks__row {
  display: flex;
  margin: 35px -22.5px;
  align-items: center;
  justify-content: center;
}

.column {
  padding: 0px 22.5px;
  flex: 0 1 33.333%;
}

.block__item {
  background: #696b75;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
}

.block__item-last {
  background: #696b75;
  border-radius: 5px;
  padding: 0px 0px 20px 0px;
  margin-bottom: 10px;
}

.block__text {
  text-align: center;
  line-height: 1.2;
  padding: 40px;
  font-size: 19px;
  color: #fff;
}

.block__title {
  color: #fff;
  background-color: rgb(69, 87, 92);
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 1025px) {
  .blocks__title {
    font-size: 72px;
    margin-bottom: 17px;
  }
  .blocks__body {
    max-width: 1024px;
  }
  .blocks__row {
    flex-direction: column;
  }
  .block__item {
    margin-top: 33px;
  }
  .block__img {
    text-align: center;
  }
}
@media (max-width: 913px) {
  .page__services {
    margin-left: 0px;
  }
}
@media (max-width: 821px) {
  .page__services {
    margin-left: 0px;
  }
}
@media (max-width: 769px) {
  .page__services {
    padding-left: 30px;
  }
  .blocks__title {
    font-size: 72px;
    margin-bottom: 15px;
  }
  .blocks__body {
    max-width: 768px;
  }
  .blocks__row {
    flex-direction: column;
  }
  .block__item {
    margin-top: 33px;
  }
  .block__img {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .blocks__title {
    font-size: 72px;
    margin-bottom: 12px;
  }
  .blocks__body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .blocks__row {
    flex-direction: column;
    align-items: center;
  }
  .block__item {
    margin-top: 33px;
  }
  .block__img {
    text-align: center;
  }
  .block__img img {
    width: 300px;
    height: 200px;
  }
  .block__text {
    font-size: 16px;
  }
  .block__title {
    font-size: 24px;
  }
  .block__about {
    font-size: 16px;
  }
}
@media (max-width: 541px) {
  .blocks__title {
    font-size: 32px;
  }
  .page__services {
    margin-left: 0px;
  }
}
@media (max-width: 415px) {
  .page__services {
    margin-left: 0px;
  }
  .blocks__title {
    font-size: 42px;
  }
}
@media (max-width: 376px) {
  .page__services {
    margin-left: 0px;
  }
  .blocks__title {
    font-size: 42px;
  }
}
@media (max-width: 361px) {
  .page__services {
    position: absolute;
    left: 0px;
  }
}
@media (max-width: 321px) {
  .page__services {
    padding-left: 83px;
  }
  .blocks__title {
    font-size: 32px;
  }
}
@media (max-width: 281px) {
  .blocks__title {
    font-size: 32px;
  }
  .page__services {
    margin-left: 16px;
  }
}
/*Features*/
.features__body {
  display: grid;
  grid-column: repeat(3, 1fr);
  gap: 30px;
}

.features__title {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
}

.body__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  padding: 35px;
  transition: all 0.5s ease;
}

.body__item:hover {
  transform: translate3d(20px, 20px, 20px);
  background-color: rgb(235, 235, 235);
}

.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__icon {
  text-align: center;
}

.item-service__title {
  text-align: center;
  font-size: 24px;
  line-height: 133%;
}

.item-service__text {
  text-align: center;
  font-size: 14px;
  line-height: 142%;
}

@media (max-width: 913px) {
  .page__features {
    margin-left: 0px;
  }
}
@media (max-width: 376px) {
  .page__features {
    margin-left: -8px;
  }
}
@media (max-width: 361px) {
  .features__title {
    font-size: 42px;
  }
  .page__features {
    margin-left: 0px;
    margin-top: 1550px;
  }
}
@media (max-width: 321px) {
  .features__title {
    font-size: 42px;
  }
  .page__features {
    margin-left: 33px;
    margin-top: 1550px;
  }
}
/*Workscost*/
.cost__row {
  display: flex;
  align-items: center;
}

.cost__title {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.cost__img {
  flex: 0 0 100px;
}

.cost__img img {
  max-width: 100%;
}

.cost__body {
  flex: 1 1 auto;
}

.cost__label {
  font-size: 25px;
  font-weight: 600;
  word-spacing: 1.2px;
  padding-bottom: 6px;
}

.cost__text {
  font-size: 17px;
  font-weight: 500;
  word-spacing: 1.3px;
  padding-bottom: 10px;
}

@media (min-width: 1024px) {
  .cost__img {
    flex: 0 0 auto;
  }
  .cost__img img {
    width: auto;
  }
}
@media (min-width: 767px) {
  .cost__img {
    flex: 0 0 auto;
  }
  .cost__img img {
    width: auto;
  }
}
@media (max-width: 321px) {
  .page__cost {
    margin-top: 0px;
  }
}
/*Contacts*/
.page__contacts {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
}

.contacts__title {
  text-align: center;
  font-size: 72px;
  color: rgb(0, 0, 0);
  z-index: 100002;
  letter-spacing: 25px;
  margin-bottom: 500px;
  font-weight: 7600;
}

.contacts__contact {
  z-index: 1000;
}

.contacts__contact img {
  text-align: center;
  border: 1px solid #000;
  border-radius: 30%;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.contacts__contact img:hover {
  background-color: rgb(78, 93, 161);
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1281px) {
  .page__contacts {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .contacts__title {
    margin-bottom: 1000px;
  }
}
@media (max-width: 913px) {
  .page__contacts {
    width: 100%;
  }
}
@media (max-width: 821px) {
  .contacts__title {
    margin-bottom: 800px;
  }
}
@media (max-width: 769px) {
  .contacts__title {
    margin-bottom: 700px;
  }
}
@media (max-width: 541px) {
  .page__contacts {
    width: 100%;
  }
  .contacts__title {
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 400px;
  }
}
@media (max-width: 415px) {
  .page__contacts {
    width: 100%;
  }
  .contacts__title {
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 400px;
  }
}
@media (max-width: 377px) {
  .page__contacts {
    width: 100%;
  }
  .contacts__title {
    font-size: 24px;
    margin-bottom: 300px;
  }
}
@media (max-width: 376px) {
  .contacts__title {
    font-size: 24px;
    margin-bottom: 300px;
  }
}
@media (max-width: 361px) {
  .contacts__contact {
    display: flex;
    flex-direction: column;
  }
  .contacts__contact img {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 321px) {
  .page__contacts {
    width: 110%;
    margin-bottom: 10px;
  }
  .contacts__title {
    margin-bottom: 100px;
  }
  .contacts__contact {
    display: flex;
    flex-direction: column;
  }
  .contacts__contact img {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 281px) {
  .page__contacts {
    width: 124%;
  }
}
@media (max-width: 913px) {
  body {
    width: 100%;
  }
}