.aboutworks__title {
	font-size: 62px;
	text-align: center;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
}

.step-1 {
	margin-top: 5px;
	background-color: rgb(129, 97, 97);
	padding: 15px;
}
.step-2 {
	background-color: rgb(96, 124, 81);
	padding: 15px;
}
.step-3 {
	background-color: rgb(122, 130, 63);
	padding: 15px;
}
.step-4 {
	background-color: rgb(87, 70, 135);
	padding: 15px;
}
.step-5 {
	background-color: rgb(129, 67, 105);
	padding: 15px;
}
span {
	font-size: 48px;
	font-family: serif;
	margin-right: 10px;
}

@media (max-width: 1281px) {
	.page__aboutworks {
		margin-left: 40px;
	}
}

@media (max-width: 1025px) {
	.page__aboutworks {
		margin-left: 0;
	}
	.step-1 {
		font-size: 20px;
	}
	.step-2 {
		font-size: 20px;
	}
	.step-3 {
		font-size: 20px;
	}
	.step-4 {
		font-size: 20px;
	}
	.step-5 {
		font-size: 20px;
	}
}

@media (max-width: 541px) {
	.page__aboutworks {
		padding-left: 90px;
	}
}

@media (max-width: 913px) {
	.page__aboutworks {
		margin-left: 0px;
	}
}

@media (max-width: 821px) {
	.page__aboutworks {
		margin-left: 0px;
	}
}

@media (max-width: 769px) {
	.page__aboutworks {
		margin-left: 0px;
	}
	span {
		font-size: 40px;
	}
	.step-1 {
		background-color: rgb(129, 97, 97);
		padding: 10px;
		font-size: 16px;
	}
	
	.step-2 {
		background-color: rgb(96, 124, 81);
		padding: 10px;
		font-size: 16px;
	}
	
	.step-3 {
		background-color: rgb(122, 130, 63);
		padding: 10px;
		font-size: 16px;
	}
	
	.step-4 {
		background-color: rgb(87, 70, 135);
		padding: 10px;
		font-size: 16px;
	}

	.step-5 {
		background-color: rgb(129, 67, 105);
		padding: 10px;
		font-size: 16px;
	}
}

@media (max-width: 541px) {
	.page__aboutworks {
		margin-left: -29px;
	}
	.aboutworks__title {
		font-size: 32px;
	}
}

@media (max-width: 415px) {
	.page__aboutworks {
		margin-left: -30px;
	}
	.aboutworks__title {
		font-size: 42px;
	}
}

@media (max-width: 376px) {
	.page__aboutworks {
		margin-left: -30px;
	}
	.aboutworks__title {
		font-size: 32px;
	}
}

@media (max-width: 361px) {
	.page__aboutworks {
		margin-left: -30px;
	}
}

@media (max-width: 321px) {
	.page__aboutworks {
		margin-left: -13px;
	}
}

@media (max-width: 281px) {
	.aboutworks__title {
		font-size: 32px;
	}
	.page__aboutworks {
		margin-left: 0px;
	}
}