.page__contacts {
	position: relative;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.contacts__body {
	position: relative;
	z-index: 2;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	flex-direction: column;
}

.contacts__title {
	text-align: center;
	font-size: 72px;
	color: rgb(0, 0, 0);
	z-index: 100002;
	letter-spacing: 25px;
	margin-bottom: 500px;
	font-weight: 7600;
}

.contacts__contact {
	z-index: 1000;
}

.contacts__contact img {
	text-align: center;
	border: 1px solid #000;
	border-radius: 30%;
	overflow: hidden;
	transition: all .3s ease;
	margin-left: 20px;
}

.contacts__contact img:hover {
	background-color: rgb(78, 93, 161);
}

.full-screen__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1281px) {
	.page__contacts {
		width: 100%;
	}
}

@media (max-width: 1025px) {
	.contacts__title {
		margin-bottom: 1000px;
	}
}

@media (max-width: 913px) {
	.page__contacts {
		width: 100%;
	}
}

@media (max-width: 821px) {
	.contacts__title {
		margin-bottom: 800px;
	}
}

@media (max-width: 769px) {
	.contacts__title {
		margin-bottom: 700px;
	}
}

@media (max-width: 541px) {
	.page__contacts {
		width: 100%;
	}
	.contacts__title {
		font-size: 24px;
		margin-top: 100px;
		margin-bottom: 400px;
	}
}

@media (max-width: 415px) {
	.page__contacts {
		width: 100%;
	}
	.contacts__title {
		font-size: 24px;
		margin-top: 100px;
		margin-bottom: 400px;
	}
}

@media (max-width: 377px) {
	.page__contacts {
		width: 100%;
	}
	.contacts__title {
		font-size: 24px;
		margin-bottom: 300px;
	}
}

@media (max-width: 376px) {
	.contacts__title {
		font-size: 24px;
		margin-bottom: 300px;
	}
}

@media (max-width: 361px) {
	.contacts__contact {
		display: flex;
		flex-direction: column;
	}
	.contacts__contact img{
		margin: 0 0 5px 0;
	}
}

@media (max-width: 321px) {
	.page__contacts {
		width: 110%;
		margin-bottom: 10px;
	}
	.contacts__title {
		margin-bottom: 100px;
	}
	.contacts__contact {
		display: flex;
		flex-direction: column;
	}
	.contacts__contact img{
		margin: 0 0 5px 0;
	}
}

@media (max-width: 281px) {
	.page__contacts {
		width: 124%;
	}
}