.blocks {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;

	padding: 90px;
}

.blocks__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
	font-size: 72px;
	font-weight: 700;
}

.blocks__body {
	max-width: 990px;
	margin: 0 auto;
}

.blocks__row {
	display: flex;
	margin:  35px -22.5px;
	align-items: center;
	justify-content: center;
}

.column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
}

.block__item {
	background: #696b75;
	border-radius: 5px;
	padding: 0px 0px 20px 0px;
}

.block__item-last {
	background: #696b75;
	border-radius: 5px;
	padding: 0px 0px 20px 0px;
	margin-bottom: 10px;
}

.block__text {
	text-align: center;
	line-height: 1.2;
	padding: 40px;
	font-size: 19px;
	color: #fff;
}

.block__title {
	color: #fff;
	background-color: rgb(69, 87, 92);
	font-size: 42px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

@media (max-width: 1025px) {
	.blocks__title {
		font-size: 72px;
		margin-bottom: 17px;
	}
	.blocks__body {
		max-width: 1024px;
	}
	.blocks__row {
		flex-direction: column;
	}
	.block__item {
		margin-top: 33px;
	}
	.block__img {
		text-align: center;
	}
}

@media (max-width: 913px) {
	.page__services {
		margin-left: 0px;
	}
}

@media (max-width: 821px) {
	.page__services {
		margin-left: 0px;
	}
}

@media (max-width: 769px) {
	.page__services {
		padding-left: 30px;
	}
	.blocks__title {
		font-size: 72px;
		margin-bottom: 15px;
	}
	.blocks__body {
		max-width: 768px;
	}
	.blocks__row {
		flex-direction: column;
	}
	.block__item {
		margin-top: 33px;
	}
	.block__img {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.blocks__title {
		font-size: 72px;
		margin-bottom: 12px;
	}
	.blocks__body {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.blocks__row {
		flex-direction: column;
		align-items: center;
	}
	.column {
	}
	.block__item {
		margin-top: 33px;
	}
	.block__img {
		text-align: center;
	}
	.block__img img {
		width: 300px;
		height: 200px;
	}
	.block__text {
		font-size: 16px;
	}
	.block__title {
		font-size: 24px;
	}
	.block__about {
		font-size: 16px;
	}
}

@media (max-width: 541px) {
	.blocks__title {
		font-size: 32px;
	}
	.page__services {
		margin-left: 0px;
	}
}

@media (max-width: 415px) {
	.page__services {
		margin-left: 0px;
	}
	.blocks__title {
		font-size: 42px;
	}
}

@media (max-width: 376px) {
	.page__services {
		margin-left: 0px;
	}
	.blocks__title {
		font-size: 42px;
	}
}

@media (max-width: 361px) {
	.page__services {
		position: absolute;
		left: 0px;
	}
}

@media (max-width: 321px) {
	.page__services {
		padding-left: 83px;
	}
	.blocks__title {
		font-size: 32px;
	}
}

@media (max-width: 281px) {
	.blocks__title {
		font-size: 32px;
	}
	.page__services {
		margin-left: 16px;
	}
}