.page__cost {
}

.cost__row {
	display: flex;
	align-items: center;
}

.cost__title {
	font-size: 72px;
	font-weight: 700;
	text-align: center;
}
.cost__img {
	flex: 0 0 100px;
}

.cost__img img {
	max-width: 100%;
}

.cost__body {
	flex: 1 1 auto;
}

.cost__label {
	font-size: 25px;
	font-weight: 600;
	word-spacing: 1.2px;
	padding-bottom: 6px;
}

.cost__text {
	font-size: 17px;
	font-weight: 500;
	word-spacing: 1.3px;
	padding-bottom: 10px;
}

@media (min-width: 1024px) {
	.cost__img {
		flex: 0 0 auto;
	}
	.cost__img img {
		width: auto;
	}
}

@media (min-width: 767px) {
	.cost__img {
		flex: 0 0 auto;
	}
	.cost__img img {
		width: auto;
	}
}

@media (max-width: 321px) {
	.page__cost {
		margin-top: 0px;
	}
}